@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jersey+10&display=swap');

h1 {
    font-size:7rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.menu {

    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 90%;
    min-height: 30%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menuItem {
  position: relative;
  margin: 1rem;
  color: #fff;
  border-radius: 5px;
  min-height: 100%;
  flex: 1 1 calc(25% - 2rem);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  
}

.menuItem img {
  max-width: 100%; 
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.menuItem a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  font-size: 300%;
  font-family: "Jersey 10", sans-serif;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  text-align: center;
  box-sizing: border-box; 
}


.menuItem a:active{
  color: #00ff1e;
}
body {
    background: #141414;
    overflow: hidden;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

footer{
  background-color: #141414ae;
  height: 10%;
  width: 100%;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  z-index: 10;
}
footer a,
.fb-share-button{
  margin-right: 40px;
  font-size:2rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

