@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jersey+10&display=swap');

body {
    background: #141414;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    overflow-y: scroll; 
}

h1 {
    font-size: 7rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #005fba, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Two items per row */
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.game {
    width: 100%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 25px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    max-width: 500px; 
}

.game h2 {
    margin-top: 0;
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 25px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 25px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.links {
    margin-top: 10px;
    text-align: center;
}

.links a {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 25px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
    box-sizing: border-box;
}

.links a:hover {
    color: #00ff1e;
}


@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
    
    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust for smaller screens */
    }
    
    h1 {
        font-size: 4rem;
    }
}


/* Header Styles */
.header {
    background-color: #141414;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button {   
     display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #005fba, 0 0 20px #005fba, 0 0 25px #005fba, 0 0 30px #005fba, 0 0 35px #005fba;
    box-sizing: border-box;
}


.button:hover {
    color: #00ff1e;
}





